<span us-spinner spinner-key="spinner-1"></span>

<div id="map-container">

</div> <!-- end of map-container -->

<form ng-submit="save_address()" ng-if="org" >
  <input id="pac-input" class="form-control controls" ng-class="{ appear: show_map }" ng-change="find_address( location.address )" 
    ng-model="location.address" ng-model-options='{ debounce: 1000 }' type="text" placeholder="Search Box">
  <input type="submit" value="Save Address" ng-class="{ appear: show_map }" class="controls button btn btn-success">
</form>

{{ location }}
<div class="container-fluid">
  <img src="images/subzapp_logo.png" class="img-responsive subs_app_logo" alt="Responsive image">
</div>

<div class="container-fluid">
  <h1 class="text-center">Hello {{ user.email }}</h1>
  

  <div class="col-xs-12 text-center" ng-show="show_team_admin">
    <form class="form-horizontal form_border" 
            ng-submit="org_create()" 
            method="post" enctype="application/x-www-form-urlencoded">
      <h2>Create an org</h2>
      <div class="form-group">
        <label class="col-sm-2">Club Name: </label>
        <div class="col-sm-10">
          <input type="text" name="name" ng-model="business_form_data.name" class="form-control business_name" placholder:'Name' required>
        </div> <!-- end of col-sm-10 -->
      </div> <!-- end of form-group -->

      <div class="form-group">
        <label class="col-sm-2">Club postal Address: </label>
        <div class="col-sm-10">
          <input type="address" name="address" ng-model="business_form_data.address" class="form-control business_address"  placholder:'Address' required>
        </div> <!-- end of col-sm-10 -->
      </div> <!-- end of form-group -->
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Create Club!" class="btn btn-default btn btn-success btn-lg login">
          
        </div>  <!-- end of col-sm-offset-2 col-sm-10 -->
      </div> <!-- end of form-group -->

    </form>
    
  
  </div> <!-- end of col-xs-12 -->


  <div class="col-xs-12">    

    <div  ng-hide="show_team_admin">
      <h2>Viewing {{ org.name }}</h2>
      
      
      
      <form class="form-horizontal form_border" name="team_form"
              ng-submit="team_create()" 
              method="post" enctype="application/x-www-form-urlencoded">
        <h4>Create team e.g. U17 boys</h4>
        <div class="form-group">
          <label class="col-sm-2">Name: </label>
          <div class="col-sm-10">
            <input type="text" name="name" ng-model="team_form_data.name" class="form-control org_name" placholder:'Name'>
          </div> <!-- end of col-sm-10 -->
        </div> <!-- end of form-group -->
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Create team!" class="btn btn-default btn btn-success btn-lg login">
            
          </div>  <!-- end of col-sm-offset-2 col-sm-10 -->
          
        </div> <!-- end of form-group --> 
      </form>


      <ul class="example-animate-container center-block">
        <input type="search" ng-model="q" placeholder="filter teams..." aria-label="filter friends" class="black_text" />
        <br>Teams in this club
        <li class="animate-repeat org_list" ng-repeat="team in teams | filter:q as results">
          <a href="" ng-click="view_team(team.id)">[{{$index + 1}}] {{team.name}}.</a>
          <button class="btn btn-danger btn-sm pull-right" ng-click="delete_team( team.id )">Remove team?</button>     
        </li>
        <li class="animate-repeat" ng-if="orgs.length == 0">
          <strong>No results found...</strong>
        </li>
      </ul>

      <ul class="example-animate-container center-block">
        <input type="search" ng-model="q" placeholder="filter admins..." aria-label="filter friends" class="black_text" />
        <br>Admins of this org
        <li class="animate-repeat org_list" ng-repeat="admin in admins | filter:q as results">
          <a href="" >[{{$index + 1}}] {{admin.email}}.</a>
          <button class="btn btn-danger btn-sm pull-right" ng-click="delete_business(org.id)">Remove admin?</button>     
        </li>
        <li class="animate-repeat" ng-if="orgs.length == 0">
          <strong>No results found...</strong>
        </li>
      </ul>
      <br><br>
      <!-- <button class="btn btn-warning center-block" ng-click="show_team_admin = true">View org level</button> -->
    </div> <!-- end of show_team_admin -->
    
  </div> <!-- end of col-xs-12 -->

  <div class="col-xs-12 center-block" >
    <ul class="example-animate-container">
      <input type="search" ng-model="q" placeholder="filter orgs..." aria-label="filter friends" class="black_text" />
      <br>Your clubs. Click to view more options
      <li class="animate-repeat org_list" ng-repeat="org in orgs | filter:q as results">
        <a href="" ng-click="edit_org( org.id )">[{{$index + 1}}] {{org.name}}; Address: {{org.address}}.</a>
        <button class="btn btn-danger btn-sm pull-right" ng-click="delete_business(org.id)">Delete?</button>     
      </li>
      <li class="animate-repeat" ng-if="orgs.length == 0">
        <strong>No results found...</strong>
      </li>
    </ul>
  </div> <!-- end of ng-hide="show_team_admin" -->

</div> <!-- row-->



<!-- Button trigger modal -->
<button type="button" ng-if="org" class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#excel_sheets">
  Manage club membership
</button>

<!-- Modal -->
<div class="modal fade" id="excel_sheets" tabindex="-1" role="dialog" aria-labelledby="excel_sheets">
  <div class="modal-dialog" role="document">
    <div class="modal-content file_selection">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title white_text" id="myModalLabel">Manage registration details</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid" ng-show="user.club_admin">
          <div class="col-xs-12 make_space"></div> <!-- end of spacer -->
          <div class="col-xs-12 text-center white_text" >
            <div>

              <h2><strong>Select an excel file below and click submit to upload.</strong></h2>
              <h4><strong>We will process your form and register your players soon. </strong></h4>
              <form name="form" class="form-horizontal form_border" ng-submit="submit()">
                <div class="form-group">
                  <div class="btn btn-success btn-lg" ngf-select ng-model="file" name="file" accept=".ods"
                     ngf-max-size="20MB" required >Select club sheet</div>
                  <p ngf-src="file">{{ file.name }}</p>
                  
                  
                </div> <!-- end of form-group --> 

                <div class="form-group">
                  <div class="styled-select white_text">
                    <select class="form-control white_text" name="team" ng-model="file.info" required >
                      <option ng-repeat="team in teams" 
                              value="{{ [ team.id, team.name ] }}">
                        {{ team.name }}
                      </option>
                    </select>
                  </div> <!-- end of styled-select -->
                </div> <!-- end of form-group -->
                <div class="form-group">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                  </div>
                </div>
                
              </form> 
            </div>
            
          </div> <!-- end of col-xs-12 -->

          <div class="col-xs-12">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="file in files">{{ file.Key }}</li>
            </ul> <!-- end of list-group -->
          </div> <!-- end of col-xs-12 -->
          
        </div> <!-- end of container-fluid -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>