<span us-spinner spinner-key="spinner-1"></span>
<div class="container-fluid">
  <h2>{{ org.name }}</h2>
  Token balance: {{ org.bank_acc[0].tokens }}
</div>




<div class="container-fluid">
  <form ng-submit="withdraw_tokens()" class="form-horizontal">
    <h4>You can withdraw tokens. The amount will be deposited in your selected bank account</h4>
    <div class="form-group">
      <label for="withdraw_button" class="col-sm-2 control-label" >Token amount</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="inputEmail3" ng-model="withdrawl.amount" placeholder="Amount to withdraw">
      </div> <!-- end of col-sm-10 -->
    </div> <!-- end of form-group -->

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success btn-lg">Request withdrawl</button>
      </div> <!-- end of col-sm-offset-2 col-sm-10 -->
    </div> <!-- end of form-group -->

  </form> <!-- end of withdraw_tokens() -->
</div> <!-- end of container-fluid -->

<!-- <div class="text-center container-fluid" ng-if="display_stripe">
  <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_7U9yBDJZiiWwLVPnViz885gsmxhUmxd4&scope=read_write&redirect_uri=http://localhost:1337/%23/org-financials" class="stripe-connect"><span>Connect with Stripe</span></a>
</div> -->
