<div class="container-fluid">
  <img src="images/subzapp_logo.png" class="img-responsive subs_app_logo" alt="Responsive image">
</div>
<div class="container-fluid">
  
  <ul class="example-animate-container">
    <input type="search" ng-model="q" placeholder="filter members..." aria-label="filter friends" class="black_text" />
    <br>members.
    <li class="animate-repeat org_list" ng-repeat="member in event.event_user | filter:q as results">
      <a href="#/member?id={{ member.id }}" >[{{$index + 1}}] {{ member.firstName }} </a>
          
    </li>
    <li class="animate-repeat" ng-if="orgs.length == 0">
      <strong>No-one registered yet</strong>
    </li>
  </ul>
<!-- gh -->
  <div class="message">
    
  </div> <!-- end of message -->
    
 


</div> <!-- end of container-fluid -->