<span us-spinner spinner-key="spinner-1"></span>

<div class="container-fluid">
  <img src="images/subzapp_logo.png" class="img-responsive subs_app_logo" alt="Responsive image">
</div>
<div class="container-fluid">

  <form class="form-horizontal" ng-submit="update_event()">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="event.name" id="name" placeholder="Name">
      </div> <!-- end of col-sm-10 -->
    </div> <!-- end of form-group -->

    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Details:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="event.details" id="name" placeholder="Name">
      </div> <!-- end of col-sm-10 -->
    </div> <!-- end of form-group -->

    <div class="form-group">
      <label class="col-sm-2">Arrival Time: </label>
      <div class="col-sm-10 black_text">
        <div class="dropdown">
          <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="" ng-required="true">
            <div class="input-group"><input type="text" class="form-control" data-ng-model="event.start_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="event.start_date" 
            data-on-set-time="onTimeSet(newDate, oldDate)"
            data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }" ng-required="true" />
          </ul>
        </div>
        
      </div> <!-- end of col-sm-10 -->
    </div> <!-- end of form-group -->

    <div class="form-group">
      <label class="col-sm-2">Kick off time (optional): </label>
      <div class="col-sm-10 black_text">
        <div class="dropdown">
          <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="" ng-required="true">
            <div class="input-group"><input type="text" class="form-control" data-ng-model="event.kick_off_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="event.kick_off_date" 
            data-on-set-time="onTimeSet(newDate, oldDate)"
            data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" ng-required="true" />
          </ul>
        </div>
        
      </div> <!-- end of col-sm-10 -->
    </div> <!-- end of form-group -->



    <div class="form-group">
      <label class="col-sm-2">End Time: </label>
      <div class="col-sm-10 black_text">
        <div class="dropdown">
          <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="" ng-required="true">
            <div class="input-group"><input type="text" class="form-control" data-ng-model="event.end_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="event.end_date" 
            data-on-set-time="onTimeSet(newDate, oldDate)"
            data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }" ng-required="true" />
          </ul>
        </div>
        
      </div> <!-- end of col-sm-10 -->
    </div> <!-- end of form-group -->

    <div class="form-group">
      <label for="tokens" class="col-sm-2 control-label">Tokens:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" ng-model="event.price" id="tokens" placeholder="Tokens">
      </div>
    </div>
    
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success btn-lg">Update event</button>
      </div>
    </div>
  </form> <!-- end of form-horizontal -->
  
  <div class="black_text">  
    <uib-accordion >
      <uib-accordion-group heading="Click to view confirmed attendees" is-open="status.isFirstOpen">
        <ul class="list-group">
          <li ng-repeat="user in event.event_user" class="list-group-item">{{ user.firstName }} {{ user.lastName }}</li>
          
        </ul>
      </uib-accordion-group>
      
    </uib-accordion>
  </div>

    
 


</div> <!-- end of container-fluid -->


