<!DOCTYPE html>
<html ng-app="subzapp">
  <head>
    <title>SubZapp Server</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower/jquery-ui/themes/base/all.css">
    <link rel="stylesheet" href="/bower/angular-bootstrap-datetimepicker/src/css/datetimepicker.css">
    <link rel="stylesheet" href="/bower/alertify.js/src/css/alertify.css">
    <link rel="stylesheet" href="/styles/server_custom.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <!--<script src="/js/dependencies/sails.io.js"></script>-->
        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script src="/bower/moment/moment.js"></script>
        <script src="/bower/angular/angular.js"></script>
        <script src="/bower/angular-route/angular-route.js"></script>
        <script src="/bower/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
        <script src="/js/angular-ui-router.js"></script>
        
        <script src="/bower/angular-animate/angular-animate.js"></script>
        <script src="/bower/jquery-ui/jquery-ui.js"></script>
        <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower/alertify.js/dist/js/ngAlertify.js"></script>
        <script src="/bower/ng-file-upload/ng-file-upload.min.js"></script>
        <script src="/bower/checklist-model/checklist-model.js"></script>
        <script src="/bower/spin.js/spin.js"></script>
        <script src="/bower/angular-spinner/angular-spinner.js"></script>
        <script src="/bower/angular-google-maps/dist/angular-google-maps.js"></script>
        <script src="/bower/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/bower/lodash/dist/lodash.min.js"></script>

        <!-- <app class="js"></app> -->
        <script src="/js/app.js"></script>

        <!-- services -->
       <!-- <script src="/angular_app/scripts/services/AuthService.js"></script> -->

        <!-- controllers -->
        <script src="/js/controllers/NavController.js"></script> 
        <script src="/js/controllers/LoginController.js"></script> 
        <script src="/js/controllers/RegisterController.js"></script> 
        <script src="/js/controllers/RegisterManagerController.js"></script> 
        <script src="/js/controllers/UserController.js"></script> 
        <script src="/js/controllers/EditUserController.js"></script> 
        <script src="/js/controllers/OrgController.js"></script> 
        <script src="/js/controllers/OrgAdminController.js"></script> 
        <script src="/js/controllers/OrgAdminTeamController.js"></script> 
        <script src="/js/controllers/TeamController.js"></script> 
        <script src="/js/controllers/EventController.js"></script> 
        <script src="/js/controllers/PasswordReminderController.js"></script> 
  </head>

  <body>
      <div ng-include="'/angular_app/views/nav/nav.html'"  ng-controller="NavController"></div>

      <div ui-view class="main">
        <!-- angular app injection here -->
      </div>
        <!-- JJ added, ui-view is what the angular-ui-router uses instead of ng-view -->
        

  </body>
</html>
