<div class="container-fluid text-center">
  <img src="images/corins.jpg" class="img-responsive subs_app_logo" alt="Responsive image">
</div>
<div class="row">

  <div class="col-xs-2">

  </div>
  <div class="col-xs-8">    

    <form class="form-horizontal register_form" 
            ng-submit="register_submit()" 
            method="post" enctype="application/x-www-form-urlencoded">

      <div class="form-group">
        <label class="col-sm-2">Email: </label>
        <div class="col-sm-10">
          <input type="email" name="email" ng-model="register_form_data.email" class="form-control" placholder:'email'>
        </div> <!-- end of col-sm-10 -->
      </div> <!-- end of form-group -->

      <div class="form-group">
        <label class="col-sm-2">me balls: </label>
        <div class="col-sm-10">
          <input type="password" name="password" ng-model="register_form_data.password" class="form-control user_password"   placholder:'password'>
        </div> <!-- end of col-sm-10 -->
      </div> <!-- end of form-group -->

      <div class="form-group text-center">
        <input type="submit" value="Register" class="btn btn-default btn btn-success btn-lg register">
        <a href="#/" class="btn btn-default btn btn-info btn-lg login">Go home</a>
      </div> <!-- end of form-group text-center -->

      <div class="message">
        {{ errMessage.data.invalidAttributes.email[0].message }}
        
        
      </div>
    </form>
  </div> <!-- end of col-xs-8 -->

</div> <!-- end of container-fluid -->