html, body {
    height: 100%;

}

body{
  background-color: #66c2b7 ;
  width: 100%;
  word-wrap: break-word;
  color: #FFF;
  margin-bottom: 100px;
}

.main{ 
  background-color: #173935 !important;
  min-height: 100%; /* min. height for modern browser */
  height:auto !important; /* important rule for modern Browser */
  height:100%; /* min. height for IE */
  overflow: hidden !important; /* FF scroll-bar */
  height: 100%;
  margin: 0px 8%;
}

.navbar{
  margin-bottom: 0px;
}

.form_border{
  margin: 30px 5px !important;
  /*border: solid #b8b8b8;*/
  padding: 7px;
}

.no_padding{
  padding: 0px !important;
}

.bottom_margin_50{
  margin-bottom: 50px;
}

.bottom_margin_20{
  margin-bottom: 20px !important;
}

.no_margin{
  margin: 0px !important;
}

.r-margin-10{
  margin-right: 10px;
}

.make_space{
  height: 15px !important;
  width: 100% !important;
}

.spinner{
  z-index: 999999999999999999999999999999 !important;
  position: fixed !important;
  bottom: 0 !important;
}

.no_border{
  border: none;
}

.modal-backdrop {
  z-index: -1;
}


.form-group{

  /*background:#528B8B  ;*/
  padding:15px 15px 15px 15px;
}

.subs_app_logo{
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.user_page{
  color: #FFF;
}

.login_form{
  /*color: #FFF;*/
}

.message{
  display: none;
}

.success_message{
  
  background-color: #00b100;
  padding: 5px;
}

.error_message{
  background-color: #ff3b3b;
  /*color: #FFF;*/
  padding:5px;
}

.register_error{
  display: none;
  background-color: #ff3b3b;
  /*color: #FFF;*/
  padding:5px;
}

.example-animate-container {
  /*color: #111;*/
  /*background:white;*/
  /*border:1px solid black*/;
  list-style:none;
  margin:5px;
  /*padding:0 10px;*/
}

.example-animate-container li {
  color: #FFF;
  background:white;
  border:1px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.black_text{
  color: #111 !important;
}

.white_text{
  color: #FFF !important;
}

#reference a:link {
    text-decoration: none;
    color:#ffffff;
    font-size: 1em;
   
    font-weight: bold;
}

#reference a:visited {
    text-decoration: none;
    color:#fff;
}

#reference a:hover {
    text-decoration: underline;
    color:#000;
}

#reference a:active {
    text-decoration: underline;
}

/* team_manager page*/
.update_date_form{
  padding:10px;
  border: #cdcdcd medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;  
}

.location_form{
  /*margin: 10px 150px;*/
  /*border: solid #b8b8b8;*/
  padding: 7px;
  margin-bottom: 50px;
}

.team_location_select{
 /* margin-left: 250px;
  margin-right: 250px;*/
}
/* end of team_manager page*/

/*org_admin page*/
.file_selection{
  background-color: #3c7f33;
  color: #111;
}

#map-container {
  margin-top: -20px;
  height: 400px;
}

.controls {
  margin-top: 10px;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  left: 110px;
  top: 52px;
  position: absolute;
  opacity: 0;
}

.visible_controls {
  margin-top: 10px;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  left: 110px;
  top: 52px;
  position: absolute;
}

.button{
  left: 420px;
  width: 110px !important;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

.appear{
  -webkit-transition: opacity 2s; 
  transition: opacity 2s;
  opacity: 1;
}

/*styled select*/
.styled-select select {
  background-color: #337f76 !important;
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  /*-webkit-appearance: none;*/
  display: block;
  margin: 0 auto;
 }

 .hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 4s, opacity 5s linear;
  -webkit-transition: visibility 4s, opacity 5s linear;
 }

 .show_it{
  visibility: visible;
  opacity: 1;
 }