html, body {
    height: 100%;

}

body{
  background-color: #337F76 !important;
  width: 100%;
  word-wrap: break-word;
  color: #FFF;
}


.subs_app_logo{
  margin: 0 auto;
}

.user_page{
  color: #FFF;
}

.login_form{
  /*color: #FFF;*/
}

.login_error{
  display: none;
  background-color: #ff3b3b;
  /*color: #FFF;*/
  padding:5px;
}

.register_error{
  display: none;
  background-color: #ff3b3b;
  /*color: #FFF;*/
  padding:5px;
}

.org_list{
  padding-top: 5px;
}

.example-animate-container {
  color: #111;
  background:white;
  border:1px solid black;
  list-style:none;
  margin:0;
  padding:0 10px;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.black_text{
  color: #111;
}