html, body {
    height: 100%;

}

body{
  background-color: #337F76 !important;
  width: 100%;
  word-wrap: break-word
}


.subs_app_logo{
  margin: 0 auto;
}

.user_page{
  color: #FFF;
}

.login_form{
  color: #FFF;
}

.login_error{
  display: none;
  background-color: #ff3b3b;
  color: #FFF;
  padding:5px;
}

.register_error{
  display: none;
  background-color: #ff3b3b;
  color: #FFF;
  padding:5px;
}