<span us-spinner spinner-key="spinner-1"></span>

<div class="container-fluid text-center">
  <h3>{{ team.main_org.name }}</h3>
  <h4>{{ team.name }}</h4>
</div> <!-- end of container-fluid -->


<div class="container-fluid">
    

    <h4>View events</h4>
    <form ng-submit="get_events()">
      <div class="col-sm-6">
        <label class="control-label">From:</label>
        <p class="input-group">

          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt.start_date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"  />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>

      </div> <!-- end of col-sm-6 -->


      <div class="col-sm-6">
        <label class="control-label">To:</label>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt.end_date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div> <!-- end of col-sm-6 -->
      <button type="submit" class="btn btn-success btn-lg">Filter events</button>
    </form>
    <hr />

    <div class="container-fluid">
      <div class="list-group">
        <button ng-repeat="event in events" ng-click="view_event( event.id )" type="button" class="list-group-item">{{ event.name }}
        {{ event.start_date | date:'yyyy-MM-dd HH:mm' }} ({{ event.location_id.address }})</button>
        
      </div> <!-- end of list-group -->
    </div> <!-- end of container-fluid -->
</div> <!-- end of container-fluid -->


<!-- Modal -->
<div class="modal fade black_text" id="view_event" tabindex="-1" role="dialog" aria-labelledby="view-event">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="view-event">Event name: {{ event.name }}</h4>
      </div> <!-- end of modal-content -->
      <div class="modal-body">
        {{ event }}
      </div> <!-- end of modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> <!-- end of modal-footer -->
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of modal fade -->